%script{:src => "companies.js", :type => "text/javascript"}
%link{:href => "companies.css.scss", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
:javascript
 document.write('<style type="text/css">.tabber{display:none;}<\/style>');

#form
 %h2 Shift Details

 %table{:border => "1", :width => "1000", :cellpadding => "0", :cellspacing => "0"}
  %tr
   %th{:scope => "col"} Sl.No.
   %th{:scope => "col"} Shift Name
   %th{:scope => "col"} Alias name
   %th{:scope => "col"} In Time
   %th{:scope => "col"} Out Time
   %th{:scope => "col"} Full Day Min.
   %th{:scope => "col"} Half Day Min.
   %th{:scope => "col"} OT applicable
   %th.btrb{:colspan => "3"} Operation
  %tr
   %td 1
   %td Morning SHift
   %td MS
   %td 09:00
   %td 18:00
   %td 480
   %td 240
   %td Yes
   %td.brb= link_to 'Show', "#"
   %td.brb= link_to 'Edit', "#"
   %td.brb= link_to 'Destroy',"#"
  %tr
   %td 2
   %td General SHift
   %td GS
   %td 07:00
   %td 16:00
   %td 480
   %td 240
   %td Yes
   %td.brb= link_to 'Show', "#"
   %td.brb= link_to 'Edit', "#"
   %td.brb= link_to 'Destroy',"#"