%script{:src => "companies.js", :type => "text/javascript"}

%link{:href => "example.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/

:javascript
  /* Optional: Temporarily hide the "tabber" class so it does not "flash"
     on the page as plain HTML. After tabber runs, the class is changed
     to "tabberlive" and it will appear. */

  document.write('<style type="text/css">.tabber{display:none;}<\/style>');
= form_for(@company) do |f|
  - if @company.errors.any?
    #error_explanation
      %h2
        = pluralize(@company.errors.count, "error")
        prohibited this company from being saved:
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg
  #form
    .tabber
      .tabbertab
        %h2 Company Details
        %div
          %table.disp_data{:align => "center", :cellpadding => "5", :cellspacing => "0"}
            %tr
              %td{:width => "50%"}
                %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td.td_width.main_title{:colspan => "2"}
                      Company Details:
                  %tr
                    %td.td_height_form
                  %tr
                    %td.td_width
                      Group Name:
                    %td= f.text_field :group_name
                  %tr
                    %td.td_width
                      Company Name:
                    %td= f.text_field :company_name
                  %tr
                    %td.td_width
                      Establish Date:
                    %td= f.date_select :establishment_date
                  %tr
                    %td.td_width
                      Company Logo:
                    %td= f.text_field :company_logo
                  %tr
                    %td.spacing
                  %tr
                    %td.td_width.main_title{:colspan => "2"}
                      Address Details:
                  %tr
                    %td.td_height_form{:colspan => "2"}
                  %tr
                    %td.td_width
                      Address:
                    %td= f.text_field :address
                  %tr
                    %td.td_width
                      State:
                    %td= f.text_field :state
                  %tr
                    %td.spacing
                  %tr
                    %td.td_width.main_title{:colspan => "2"}
                      Contact Details:
                  %tr
                    %td.td_height_form{:colspan => "2"}
                  %tr
                    %td.td_width
                      Contact No:
                    %td= f.number_field :contact_one
                  %tr
                    %td.td_width
                      Email:
                    %td= f.text_field :email
                  %tr
                    %td.td_width
                      Fax:
                    %td= f.number_field :fax
                  %tr
                    %td.spacing
              %td{:width => "50%"}
                %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td.td_width
                  %tr
                    %td.td_height_form
                  %tr
                    %td.td_width
                  %tr
                    %td.td_width
                      Resp. Person:
                    %td= f.text_field :responsible_person
                  %tr
                    %td.td_width
                      Company Type:
                    %td= f.text_field :company_type
                  %tr
                    %td.td_width
                    %td
                  %tr
                    %td.spacing
                  %tr
                    %td.td_width
                  %tr
                    %td.td_height_form
                  %tr
                    %td.td_width
                      City:
                    %td= f.text_field :city
                  %tr
                    %td.td_width
                      Country:
                    %td= f.text_field :country
                  %tr
                    %td.spacing
                  %tr
                    %td.td_width
                  %tr
                    %td.td_height_form
                  %tr
                    %td.td_width
                      Alternate No:
                    %td= f.number_field :contact_two
                  %tr
                    %td.td_width
                      Alternate Email:
                    %td= f.text_field :email2
                  %tr
                    %td.td_width
                      Website:
                    %td= f.text_field :website
                  %tr
                    %td.spacing
      .tabbertab
        %h2 PF/ESI Details
        %div
          %table.disp_data{:align => "center", :cellpadding => "5", :cellspacing => "0"}
            %tr
              %td{:width => "50%"}
                %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td.td_width.main_title{:colspan => "2"}
                      PF Details:
                  %tr
                    %td.td_height_form
                  %tr
                    %td.td_width
                      Company PF No.:
                    %td
                      %input{:name => "txtCompPFNo", :size => "30", :type => "text", :value => "KN/4564B"}/
                  %tr
                    %td.td_width
                      DBF File - Code:
                    %td
                      %input{:name => "txtDBF", :size => "30", :type => "text", :value => "56455"}/
                  %tr
                    %td.td_width
                      Extension:
                    %td
                      %input{:name => "txtExtn", :size => "30", :type => "text", :value => "2"}/
                  %tr
                    %td.spacing
                  %tr
                    %td.td_width.main_title{:colspan => "2"}
                      ESI Details:
                  %tr
                    %td.td_height_form
                  %tr
                    %td.td_width
                      Company ESI No.:
                    %td
                      %input{:name => "txtCompESINo", :size => "30", :type => "text", :value => "KN/344/ESI"}/
                  %tr
                    %td.td_width
                      ESI Local Office:
                    %td
                      %input{:name => "txtESIOffice", :size => "30", :type => "text", :value => "123 Street, Mumbai"}/
                  %tr
                    %td.td_width
                      &nbsp;
                  %tr
                    %td.spacing
              %td{:width => "50%"}
                %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td.td_width
                  %tr
                    %td.td_height_form
                  %tr
                    %td.td_width
                      PF Vol.:
                    %td
                      %input{:name => "chkPFVol", :size => "30", :type => "checkbox", :checked => 'checked'}/
                  %tr
                    %td.td_width
                      Multiple Group:
                    %td
                      %input{:name => "chkPFMulti", :size => "30", :type => "checkbox"}/
                  %tr
                    %td.td_width
                      &nbsp;
                  %tr
                    %td.spacing
                  %tr
                    %td.td_width
                  %tr
                    %td.td_height_form
                  %tr
                    %td.td_width
                      Individually Calculate ESI:
                    %td
                      %input{:name => "chkCalESI", :size => "30", :type => "checkbox", :checked => 'checked'}/
                  %tr
                    %td.td_width
                      Limit ESI Gross:
                    %td
                      %input{:name => "chkESIGross", :size => "30", :type => "checkbox", :checked => 'checked'}/
                  %tr
                    %td.td_width
                      Multiple Group:
                    %td
                      %input{:name => "chkESIMulti", :size => "30", :type => "checkbox"}/
                  %tr
                    %td.spacing
      .tabbertab
        %h2 Branch Details
        %div
          %table.disp_data{:align => "center", :cellpadding => "5", :cellspacing => "0"}
            %tr
              %td{:width => "50%"}
                %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td.td_width.main_title{:colspan => "2"}
                      Branch Details:
                  %tr
                    %td.td_height_form
                  %tr
                    %td.td_width
                      Branch:
                    %td
                      %input{:name => "txtBranch", :size => "30", :type => "text", :value => "Bangalore WDO"}/
                  %tr
                    %td.td_width
                      Resp. Person:
                    %td
                      %input{:name => "txtResPersonBranch", :size => "30", :type => "text", :value => "MAnjunath"}/
                  %tr
                    %td.td_width
                      Address:
                    %td
                      %input{:name => "txtBranchAdd", :size => "30", :type => "text", :value => "2nd Cross, 10th Main"}/
                  %tr
                    %td.td_width
                      PF Group:
                    %td
                      %input{:name => "txtBranchPF", :size => "30", :type => "text", :value => "Bangalore"}/
                  %tr
                    %td.td_width
                      PT Group:
                    %td
                      %input{:name => "txtBranchPT", :size => "30", :type => "text", :value => "Bangalore"}/
                  %tr
                    %td.td_width
                      ESI Group:
                    %td
                      %input{:name => "txtBranchESI", :size => "30", :type => "text", :value => "Bangalore"}/
                  %tr
                    %td.spacing

              %td{:width => "50%"}

      #form_button
        .actions= f.submit

