#page
  #header
    %h1
      Welcome Aditya! You are logged in as Administrator
      %br>/
      01 Aug 2011, 12:00 PM
  #menu
    %ul
      %li
        %a{:href => root_url} HOME
      %li
        %a.selected{:href => "companies"} COMPANY
      %li
        %a{:href => "#"} EMPLOYEE
  .below_border &nbsp;
  #left-content
    .left_box
      .left_box_header
        %h1 Company's Quick Links
      %p
        %a{:href => "#"} Add Group
        %br/
        %a{:href => new_company_path} Add New Company
        %br/
        %a{:href => "#"} Add PF Account
        %br/
        %a{:href => "#"} Add ESI Account
        %br/
        %a{:href => "#"} Add New Branch
        %br/
        %a{:href => "#"} Privacy Policy
  #right-content
    %h1 Listing Companies
    %table{:align => "center", :cellpadding => "0", :cellspacing => "0", :width => "900"}
      %tr
        %th.b Group name
        %th.btrb Company name
        %th.btrb Responsible person
        %th.btrb Establishment date
        %th.btrb Company type
        %th.btrb{:colspan => "3"} Operation
      - @companies.each do |company|
        %tr
          %td.blrb= company.group_name
          %td.brb= company.company_name
          %td.brb= company.responsible_person
          %td.brb= l company.establishment_date, :format => :default
          %td.brb= company.company_type
          %td.brb= link_to 'Show', company
          %td.brb= link_to 'Edit', edit_company_path(company)
          %td.brb= link_to 'Destroy', company, confirm: 'Are you sure?', method: :delete
    %br/
    = link_to 'New Company', new_company_path